# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# 排除所有 libs 資料夾下的 jar 檔
libs/*.jar

# Files from Forge MDK
forge*changelog.txt

# 內部開發筆記
/ToDoList.md
